.class-body{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border: 2px solid red;
}

.subject-body{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}